<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css\normalize.css">
    <link rel="stylesheet" href="css\login.css">
    <script src="https://kit.fontawesome.com/72632801cb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-top">
            <a href="/" class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" ></a>
            <div class="searchBar">
                <input type="text" placeholder="Ingresa el producto que deseas buscar" class="search-input">
                <button><i class="fa-solid fa-magnifying-glass" id="icon-search"></i></button>
            </div>
            <p class="buy"><i class="fa-solid fa-hand-holding-dollar" id="icon-header"></i>Compra en cuotas y sin
                tarjeta de credito</p>
        </div>
        <nav>
            <ul class="sales">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>

            <ul class="login">
                <li>Crea tu cuenta <i class="fa-solid fa-id-card" id="icon-header"></i> </li>
                <li>Ingresa <i class="fa-solid fa-arrow-right-to-bracket" id="icon-header"></i></li>
                <li>Mis compras <i class="fa-solid fa-basket-shopping" id="icon-header"></i> </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
       
        <form action="" class="form-login">
            <div class="div-a">                
                <input type="text" class="input-class" placeholder="Ingrese su nombre de usuario" pattern=".{8,}" 
               title="la contraseña debe contener al menos 8 caracteres" required>
            </div>
            <div class="div-b">
                
                <input type="password" class="input-class" placeholder="Ingrese su contraseña">
            </div>
            <button class="send-button">Enviar</button>
        </form>


    </main>


    <footer>
        <div class="footer-element">
            <p><i class="fa-solid fa-credit-card" id="icon-footer"></i></p>
            <p class="footer-title">Pagá con tarjeta o en efectivo</p>
            <p class="footer-text">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>

        <div class="footer-element">
            <p><i class="fa-solid fa-gift" id="icon-footer"></i></p>
            <p class="footer-title">Envío gratis desde $ 2.500</p>
            <p class="footer-text">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>

        <div class="footer-element">
            <p><i class="fa-solid fa-user-shield" id="icon-footer"></i></p>
            <p class="footer-title">Seguridad, de principio a fin</p>
            <p class="footer-text">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>

</html>